@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.gameboard-container {
  flex-shrink: 0;
  margin: 0;
  margin-right: 20px;
  width: 750px;
  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1/1;
  background-image: url("cantstop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-div {
  display: flex;
  width: 62.4%;
  height: 75.2%;
  padding-right: 18.8%;
  padding-left: 18.8%;
  padding-top: 12.4%;
  padding-bottom: 12.4%;
}

.board-row {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dot {
  position: absolute;
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-style: solid;
  box-shadow: 5px 5px 3px black;
}

.admin-container {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  width: 100%;
  min-width: 300px;
  margin-right: 10px;
}

.title-container {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 76px;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.title {
  margin: 0;
  font-family: "Luckiest Guy", cursive;
  color: darkred;
  line-height: 100%;
}

.title-container p {
  margin: 0;
  line-height: 100%;
}

.player-area {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.player {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
  padding-left: 50px;
  vertical-align: middle;
  width: 80%;
  height: 25px;
  border-radius: 30px;
  box-shadow: inset 30px 20px 40px rgb(218, 212, 212);
}

.player p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 23px;
  width: 40%;
}

.game-log {
  display: flex;
  flex-direction: column-reverse;
  width: 98%;
  height: 95px;
  border-radius: 10px;
  border-color: darkgray;
  vertical-align: bottom;
  text-align: center;
  margin-top: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  overflow-y: scroll;
  font-size: 17px;
}

.scrollbar::-webkit-scrollbar {
  width: 18px;
  overflow: hidden;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 12px;

  box-shadow: inset 0 0 2px 2px rgb(7, 7, 7),
    inset 0 0 4px 4px rgb(217, 217, 244);
}
.scrollbar::-webkit-scrollbar-track {
  background: #e82d2d;
  border-radius: 12px;
  box-shadow: inset 5px -5px 8px rgb(244, 226, 226);
}

.decision-container {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 380px;
  border-radius: 5%;
  background-color: rgb(232, 230, 230);
  box-shadow: inset 20px 20px 50px white;
}

.dice-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  height: 35px;
  width: 100%;
  background-color: rgb(217, 213, 213);
}

.decision-container p {
  font-size: 19px;
}

.die {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  justify-self: center;
  aspect-ratio: 1/1;
  filter: drop-shadow(3px 3px 3px rgb(104, 91, 13));
}

.result-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.result {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 600;
  vertical-align: middle;
}

.result-segment img {
  width: 32px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  bottom: 0;
  margin-bottom: 10px;
  margin-top: auto;
}

.dice-selector button {
  color: white;
  padding: 3px;
  border: none;
  border-radius: 5%;
  background-color: rgb(245, 72, 72);
}

.main-button {
  width: 25%;
  height: 45px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(66, 55, 55);
  border: none;
  font-size: 18px;
}

.modal-wrapper {
  position: absolute;
  z-index: 1;
}

.dialog-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  vertical-align: middle;
  z-index: 2;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(158, 158, 180, 0.8);
  backdrop-filter: blur(10px);
}

.dialog-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  padding: 10px;
  width: 60%;
  height: 60%;
  min-width: 300px;
  min-height: 250px;
  border-style: solid;
  background-color: rgb(255, 255, 255);
  font-size: 19px;
  overflow-y: auto;
}

.dialog-box h3,
h4 {
  margin-bottom: 5px;
}

.dialog-box label {
  margin-top: 20px;
  margin-bottom: 5px;
}

.dialog-box select {
  margin-bottom: 20px;
}

.dialog-box input {
  margin-bottom: 8px;
}

.player-input {
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.player-input p {
  line-height: 100%;
  margin-top: 10px;
}

.round-button {
  background-color: rgb(184, 179, 179);
  position: absolute;
  width: 45px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  right: 2.5%;
  margin-left: auto;
  top: 2.5%;
  margin-bottom: auto;
  box-shadow: 3px 3px 3px inset rgb(83, 80, 80);
}

.round-button,
.main-button:active {
  transform: scale(1.05);
}

.modal-footer {
  position: relative;
  margin-bottom: 15px;
  right: 15px;
  margin-top: auto;
  display: flex;
  justify-content: right;
  width: 100%;
}

@media (orientation: portrait) {
  .page-container {
    flex-direction: column;
  }

  .gameboard-container {
    width: 100%;
  }

  .dialog-box {
    font-size: 17px;
  }
}
